{{ "<!--[if lt IE 9]>" | safeHTML }}
<script src="{{ "/scripts/html5shiv.min.js" | absURL }}"></script>
<script src="{{ "/scripts/html5shiv-printshiv.min.js" | absURL }}"></script>
<script src="{{ "/scripts/respond.min.js" | absURL }}"></script>
{{ "<![endif]-->" | safeHTML }}


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TSFKP4N');</script>
<!-- End Google Tag Manager -->


<script src="{{ "/scripts/jquery.min.js" | absURL }}"></script>
<script src="{{ "/scripts/jquery.matchHeight.js" | absURL }}"></script>
<script src="{{ "/scripts/jquery.fitvids.js" | absURL }}"></script>
<script src="{{ "/scripts/jquery.lazyload.min.js" | absURL }}"></script>
<script src="{{ "/scripts/velocity.min.js" | absURL }}"></script>

<script src="{{ "/scripts/bootstrap/affix.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/alert.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/button.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/carousel.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/collapse.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/dropdown.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/modal.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/tooltip.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/popover.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/scrollspy.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/tab.js" | absURL }}"></script>
<script src="{{ "/scripts/bootstrap/transition.js" | absURL }}"></script>

<script src="{{ "/scripts/jqBootstrapValidation.js" | absURL }}"></script>
<script src="{{ "/scripts/contact_me.js" | absURL }}"></script>
<script src="{{ "/scripts/cbpAnimatedHeader.js" | absURL }}"></script>
<script src="{{ "/scripts/sideMenu.js" | absURL }}"></script>

<script src="{{ "/scripts/owl.carousel.min.js" | absURL }}"></script>
<link rel="stylesheet" href="{{ "/scripts/owl.carousel.css" | absURL }}">
<link rel="stylesheet" href="{{ "/scripts/owl.theme.default.min.css" | absURL }}">

<script src="{{ "/scripts/script.js" | absURL }}"></script>

<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/style.css" | absURL }}">
