<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSFKP4N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a href="/">
        <img class="logo" src="img/mvp_bywaat_white.png" alt="">
        <!-- <div class="logo__head"><strong>MVP</strong> Space</div> -->
      </a>
    </div>

    <button type="button" class="pull-right navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="language-switcher pull-right">
      <ul class="nav navbar-nav navbar-right">
        <li>Language:</li>
        {{ $currentNode := . }}
        {{ range .Site.Menus.language }}
        <li class="{{if $currentNode.IsMenuCurrent "language" .}}active{{end}}">
        <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="navbar-collapse collapse">
      <h3 class="navbar-collapse__title">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        Navigation
        <span class="icon icon--close"></span>
      </h3>
      <ul class="nav navbar-nav navbar-right">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main_en }}
        <li class="{{if $currentNode.IsMenuCurrent "main_en" .}}active{{end}}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <li>
          <a href="https://blog.mvp-space.com/" target="_blank">
            <span class="text-danger">Blog</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse__overlay"></div>
  </div>
</nav>
