<div class="social">
  <a href="https://www.facebook.com/mvpspace" class="social__link" target="_blank"><span class="icon icon--fb"></span></a>
  <a href="https://twitter.com/mvp_space" class="social__link" target="_blank"><span class="icon icon--twitter"></span></a>
  <a href="https://www.linkedin.com/company/mvp-space" class="social__link" target="_blank"><span class="icon icon--linkedin"></span></a>
  <a href="https://angel.co/mvp-space" class="social__link" target="_blank"><span class="icon icon--angelco"></span></a>
</div>
